:root {
  --if-background-300: #f6fcf9;
  --if-background-400: #bfe7d6;
  --if-background-500: #94c5b0;
  --if-background-600: #759889;
  --if-foreground-300: #b7d0d9;
  --if-foreground-400: #568ea2;
  --if-foreground-500: #485c63;
  --if-fore ground-600: #2f2f30;
  --if-yellow-400: #fef0bc;
  --if-yellow-500: #f1d97c;
  --if-yellow-600: #d9bb47;
  --if-yellow-700: #b09324;
  --if-orange-400: #ff894d;
  --if-orange-500: #ff5700;
  --if-orange-600: #a5410d;
  --if-orange-700: #5e2508;
  --if-red-400: #f9798b;
  --if-red-500: #e54058;
  --if-red-600: #ae2a3d;
  --if-red-700: #711b28;
  --if-blue-400: #0643ab;
  --if-blue-500: #0b285a;
  --if-blue-600: #050a14;
}
