/* http://www.colorzilla.com/gradient-editor/#ffdc00+0,ffdc00+60,c6d92f+60,3bbed9+60,3bbed9+60,3bbed9+70,fe3239+70,fe3239+100;Custom */
.if-c-stripe {
  height: 10rem;
  width: 10rem;
  background: #ffdc00;
  background: linear-gradient(to right,  #ffdc00 0%,#ffdc00 60%,#c6d92f 60%,#3bbed9 60%,#3bbed9 60%,#3bbed9 70%,#fe3239 70%,#fe3239 100%);
}
