<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>{{ htmlWebpackPlugin.options.title }}</title>
  <meta name="description" content="2017年2月25日 Frontendカンファレンスを東京ガーデンテラス紀尾井町で開催">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@insidefrontend">
  <meta property="og:title" content="{{ htmlWebpackPlugin.options.title }} | 2月25日開催！">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://inside-frontend.com/">
  <meta property="og:image" content="./images/ogimage.png">
  <meta property="og:description" content="Web フロントエンドの現場とこれからをつなぐカンファレンス">
  <link rel="apple-touch-icon" sizes="180x180" href="./images/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="./images/icons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="./images/icons/favicon-16x16.png" sizes="16x16">
  <link rel="mask-icon" href="./images/icons/safari-pinned-tab.svg" color="#d75a43">
  <script>
    {{!-- Detect whether the browser is modern enough for our JavaScript --}}
    var isEnhanced = ('MutationObserver' in window);
    if (isEnhanced) {
      document.documentElement.className = document.documentElement.className.replace(/\bcore\b/g, 'enhanced');
    }
  </script>
  <style>
    {{!-- Hide and show content based on enhanced and core mode --}}
    .core .enhanced-only,
    .core .enhanced-only,
    .enhanced .core-only { display: none !important; }
  </style>
</head>
<body>
<div id="if-page" class="if-page if-page--teaser">
  <main id="main">
    <div class="teaser">
      <h1><img src="./images/logo-w.png" alt="Inside Frontend" class="logo"></h1>
      <h2 class="lead">
        Web フロントエンドの現場と<br class="u-hide-large"/>これからをつなぐカンファレンス
      </h2>
      <time class="date">2017年2月25日</time>
      <p class="venue"><span class="u-ls">Yahoo!JAPAN</span><br class="u-hide-large"/>（<a href="http://www.tgt-kioicho.jp/" target="_blank" rel="noopener">東京ガーデンテラス紀尾井町</a>）</p>

      <p class="action">
        <a href="https://inside-frontend.connpass.com/event/47920/" class="button" target="_blank" rel="noopener">Get The Ticket</a>
      </p>
    </div>
    <div class="poweredby">
      <h3 class="poweredby__title">Powered by</h3>
      <ul class="corp-list">
        <li>
          <a href="https://www.cyberagent.co.jp/" target="_blank" rel="noopener">
            <img src="./images/sponsors/logo-ca.svg" alt="株式会社サイバーエージェント" class="corp-logo">
          </a>
        </li>
        <li>
          <a href="http://www.nikkei.com/" target="_blank" rel="noopener">
            <img src="./images/sponsors/logo-nikkei.svg" alt="日本経済新聞社" class="corp-logo">
          </a>
        </li>
        <li>
          <a href="http://www.yahoo.co.jp/" target="_blank" rel="noopener">
            <img src="./images/sponsors/logo-yahoo.svg" alt="ヤフー株式会社" class="corp-logo">
          </a>
        </li>
      </ul>
    </div>
  </main>
</div>
<script src="//cdn.polyfill.io/v2/polyfill.min.js"></script>
</body>
</html>
