.if-page--teaser {
  background-image: url('./images/teaser.jpg');
  background-size: cover;
  background-position: center;
  color: white;
}

.venue a {
  text-decoration: none;
  color: inherit;
}
.venue a:hover {
  text-decoration: underline;
}

.teaser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  text-align: center;
  min-height: 100vh;
}

.logo {
  margin-bottom: 3rem;
  max-width: 375px;
  width: 100%;
  height: auto;
  margin-left: 20px;
  margin-right: 20px;
}

.lead {
  margin-top: 0;
  margin-bottom: 3rem;
  line-height: 1.618;
  font-size: 2rem;
  font-weight: 100;
}

.date {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 100;
}

.venue {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.618;
  font-size: 1.8rem;
  font-weight: 100;
}

.action {
  margin-top: 3rem;
  max-width: 375px;
  margin-left: 20px;
  margin-right: 20px;
  height: auto;
}

.button {
  display: block;
  border-radius: 3px;
  padding: 1.5rem 2rem;
  background: var(--if-red-500);
  color: white;
  letter-spacing: 0.1em;
  text-decoration: none;
  font-size: 2rem;
  font-family: inherit;
  font-weight: 100;
  color: inherit;
}
.button:hover {
  background-color: var(--if-red-400);
}

.poweredby {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: white;
  color: var(--if-foreground-600);
  text-align: center;
}
.poweredby__title {
  margin-bottom: 1rem;
  letter-spacing: 0.1em;
  font-size: 1.2rem;
  font-weight: 200;
}

.corp-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  text-align: center;
}
.corp-list > li {
  margin-left: 10px;
  margin-right: 10px;
}

.corp-list a {
  text-decoration: none;
  color: inherit;
}

.corp-logo {
  max-width: 100%;
  width: 320px;
  height: 72px;
}

.u-ls {
  letter-spacing: 0.1em;
}

@media (min-width: 840px) {
  .corp-list {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 1024px) {
  .u-hide-large {
    display: none;
  }
}
