:root {
  --color-primary: #27262E;
  --color-primary-highlight: #2F2E38;
  --color-secondary: #DEC669;
  --color-secondary-highlight: #FAD64D;
  --color-accent: #FAD64D;
  --color-accent-highlight: #FED430;
  --color-seminar: #E46978;
  --color-seminar-highlight: #EB7A88;
  --color-ama: #3FEBCB;
  --color-ama-highlight: #6BF0D7;
  --color-grayscale-100: #FFFFFC;
  --color-grayscale-200: #FFFADE;

  --color-dark: var(--color-primary);
  --color-dark-invert: var(--color-grayscale-100);
  --color-light: var(--color-grayscale-200);
  --color-light-invert: var(--color-primary);

  --font-family-en: 'Roboto Mono', monospace;

  --line-height-xs: 1.1;
  --line-height-sm: 1.3;
  --line-height-md: 1.5;

  --spacing-1x: 8px;
  --spacing-2x: 16px;
  --spacing-3x: 24px;
  --spacing-4x: 32px;
  --spacing-6x: 48px;
  --spacing-8x: 64px;
  --spacing-12x: 96px;
  --spacing-16x: 128px;

  --font-size-xs: 0.75em;
  --font-size-sm: 0.875em;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 2rem;
  --font-size-heading1: 3rem;
  --font-size-heading2: 2rem;
  --font-size-heading3: 1.5rem;
  --font-size-heading4: 1.25rem;

  --button-height-md: 48px;
  --button-height-lg: 80px;
  --button-color-primary: var(--color-accent);
  --button-color-primary-invert: var(--color-primary);
  --button-color-primary-hover: var(--color-accent-highlight);
}

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  background-color: var(--color-dark);
  color: var(--color-grayscale-100);
}

body {
  line-height: 1.7;
  font-family: sans-serif;
}

img, svg, iframe {
  vertical-align: middle;
}

/* Button */
.Button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  padding: 0 var(--spacing-2x);
  min-height: var(--button-height-md);
  background-color: var(--button-color-primary);
  color: var(--button-color-primary-invert);
  line-height: var(--line-height-sm);
  letter-spacing: 0.1em;
  font-weight: bold;
  font-family: var(--font-family-en);
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 300ms ease-in;
}

.Button:hover {
  background-color: var(--button-color-primary-hover);
}

.Button-subLabel {
  display: block;
  font-size: 0.875em;
  font-weight: normal;
  text-transform: none;
}

/* Heading */
.Heading {
  text-align: center;
  text-transform: uppercase;
  line-height: var(--line-height-sm);
  letter-spacing: 0.1em;
  font-family: var(--font-family-en);
  font-size: var(--font-size-heading3);
  font-weight: bold;
}

@media (min-width: 600px) {
  .Heading {
    font-size: var(--font-size-heading1);
  }
}

/* SubHeading */
.SubHeading {
  text-align: center;
  text-transform: none;
  line-height: var(--line-height-sm);
  letter-spacing: 0.1em;
  font-family: var(--font-family-en);
  font-size: var(--font-size-heading4);
}

@media (min-width: 600px) {
  .SubHeading {
    font-size: var(--font-size-heading2);
  }
}

/* Section */
.Section {
  padding-top: var(--spacing-4x);
  padding-bottom: var(--spacing-4x);
}

.Section-header {
  margin-bottom: var(--spacing-4x);
}

@media (min-width: 1024px) {
  .Section {
    padding-top: var(--spacing-12x);
    padding-bottom: var(--spacing-12x);
  }
}

/* Header */

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  /*padding-top: var(--spacing-12x);*/
  /*padding-bottom: var(--spacing-2x);*/
}

@media (min-width: 840px) {

}

/* Sitename */

.sitename {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: var(--spacing-12x);
  margin-bottom: var(--spacing-2x);
}

.sitename-banner {
  width: 240px;
  height: 32px;
}

@media (min-width: 840px) {
  .sitename {
    margin-top: var(--spacing-16x);
    margin-bottom: var(--spacing-4x);
  }

  .sitename-banner {
    width: 480px;
    height: 64px;
  }
}

@media (min-width: 1280px) {
  .sitename {
    margin-bottom: var(--spacing-2x);
  }
}

/* Navigation */

.nav {
  display: flex;
  justify-content: center;
}

.nav-list {
  display: flex;
  justify-content: center;
}

.nav-list a {
  display: inline-block;
  padding: var(--spacing-2x);
  line-height: var(--line-height-xs);
  color: var(--color-white);
  font-family: var(--font-family-en);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1em;
}

.nav-list a:hover {
  text-decoration: underline;
}

/* Timetableが決まれば削除 */
.nav-list a.nav-none {
  text-decoration: line-through;
  opacity: 0.5;
}

@media (max-width: 321px) {
  .nav-list a {
    font-size: var(--font-size-sm);
  }
}

@media (min-width: 600px) {
  .nav {
    padding: var(--spacing-2x);
  }
}

@media (min-width: 840px) {
  .nav-list a {
    font-size: var(--font-size-md);
  }
}

/* Event */

.event {
  padding-top: var(--spacing-16x);
  padding-bottom: var(--spacing-4x);
  background-image: url(assets/1.jpg);
  background-size: 1024px;
  background-position: center top;
  background-repeat: no-repeat;
}

.event-name {
  margin-bottom: var(--spacing-3x);
  text-align: center;
}

.event-banner {
  width: 288px;
  height: 148px;
}

.event-summary {
  margin-bottom: var(--spacing-3x);
  padding-left: var(--spacing-2x);
  padding-right: var(--spacing-2x);
  text-align: center;
  font-size: var(--font-size-lg);
  font-family: var(--font-family-en);
  color: var(--color-grayscale-100);
  letter-spacing: 0.1em;
}

.event-date {
  display: inline-block;
}

.event-venue {
  display: inline-block;
}

.event-tickets {
  padding-left: var(--spacing-2x);
  padding-right: var(--spacing-2x);
}

.event-tickets .Button {
  width: 100%;
  font-size: var(--font-size-lg);
}

@media (min-width: 600px) {
  .event-banner {
    width: 480px;
    height: 246px;
  }

  .event-tickets .Button {
    margin-left: auto;
    margin-right: auto;
    width: 240px;
  }
}

@media (min-width: 840px) {
  .event {
    padding-top: 160px;
    padding-bottom: 80px;
  }

  .event-name {
    margin-bottom: var(--spacing-6x);
  }

  .event-tickets {
    position: absolute;
    top: 0;
    right: 0;
    padding: var(--spacing-2x);
  }

  .event-tickets .Button {
    width: 100%;
    font-size: var(--font-size-md);
  }
}

@media (min-width: 1024px) {
  .event {
    padding-bottom: var(--spacing-16x);
    background-size: 100%;
  }

  .event-banner {
    width: 720px;
    height: 370px;
  }

  .event-summary {
    font-size: var(--font-size-xl);
  }
}

@media (min-width: 1441px) {
  .event {
    background-size: auto 2048px;
    background-position: left top;
  }
}

/* Introduction */

.intro {
  margin-top: var(--spacing-8x);
}

.intro-section + .intro-section {
  margin-top: var(--spacing-3x);
}

.intro-content {
  padding-left: var(--spacing-2x);
  padding-right: var(--spacing-2x);
}

.intro-title {
  font-size: var(--font-size-lg);
  color: var(--color-secondary);
}

.intro-title > * {
  display: inline-block;
}

.intro-image {
  margin-bottom: var(--spacing-3x);
  margin-left: var(--spacing-2x);
  margin-right: var(--spacing-2x);
}

.intro-image {
  position: relative;
}

.intro-image::after {
  content: '';
  position: absolute;
  top: var(--spacing-1x);
  left: var(--spacing-1x);
  bottom: calc(var(--spacing-1x) * -1);
  right: calc(var(--spacing-1x) * -1);
  z-index: 1;
  background-image: url(assets/halftone-light.png);
background-size: 160px;
}

.intro-image > img {
  position: relative;
  z-index: 2;
  width: 100%;
  height: auto;
}

.intro-body > * {
  margin-top: 1em;
}

@media (max-width: 321px) {
  .intro-title {
    font-size: var(--font-size-md);
  }
}

@media (min-width: 600px) {
  .intro {
    margin-top: 96px;
  }

  .intro-image {
    margin-left: auto;
    margin-right: auto;
    width: 480px;
  }

  .intro-image > img {
    position: relative;
    z-index: 2;
    width: 480px;
    height: auto;
  }
}

@media (min-width: 840px) {
  .intro-section {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
  }

  .intro-section > * {
    flex: 0 0 50%;
  }

  .intro-section + .intro-section {
    flex-direction: row-reverse;
  }

  .intro-section + .intro-section .intro-image::after {
    right: calc(var(--spacing-1x) * -1);
  }

  .intro-content {
    padding-left: var(--spacing-4x);
    padding-right: var(--spacing-4x);
  }

  .intro-image {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .intro-image > img {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .intro {
    margin-top: var(--spacing-16x);
  }

  .intro-section + .intro-section {
    margin-top: var(--spacing-8x);
  }

  .intro-content {
    max-width: 512px;
  }

  .intro-title {
    font-size: var(--font-size-lg);
  }
}

@media (min-width: 1280px) {
  .intro-section {
    justify-content: center;
  }

  .intro-section + .intro-section {
    margin-top: var(--spacing-12x);
  }

  .intro-title {
    font-size: var(--font-size-xl);
  }

  .intro-content {
    max-width: 640px;
  }

  .intro-image {
    max-width: 640px;
  }
}

/* Speakers */

.speakers {
  background-image: url(assets/4.jpg);
  background-size: 1024px;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: var(--color-dark);
  color: var(--color-dark-invert);
}

.speakers-list {
  display: flex;
  flex-wrap: wrap;
}

.speakers-list > * {
  margin-top: var(--spacing-3x);
  flex: 0 0 50%;
}

.speakers-more {
  margin-top: var(--spacing-3x);
  text-align: center;
  font-family: var(--font-family-en);
}


@media (min-width: 1280px) {
  .speakers {
    background-size: auto 2048px;
    background-position: left top;
  }
}

@media (min-width: 600px) {
  .speakers-list {
    max-width: 848px;
    margin-left: auto;
    margin-right: auto;
  }

  .speakers-list > * {
    margin-top: var(--spacing-4x);
    flex: 0 0 calc(100% / 3);
  }
}

@media (min-width: 1024px) {
  .speakers {
    background-size: 100%;
  }

  .speakers-more {
    margin-top: var(--spacing-6x);
  }
}

@media (min-width: 1280px) {
  .speakers-list {
    max-width: 1152px;
  }

  .speakers-list > * {
    flex: 0 0 calc(100% / 4);
  }
}

/* Speaker */
.speaker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: var(--font-family-en);
  color: inherit;
  text-decoration: none;
}

.speaker a {
  margin-left: 0.5em;
  color: inherit;
}

.speaker-image {
  display: block;
  position: relative;
  margin-bottom: var(--spacing-2x);
  width: 120px;
  height: 120px;
  background-color: var(--color-primary);
}

.speaker-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background-color: var(--color-primary);
}

.speaker-image::after {
  content: '';
  position: absolute;
  top: var(--spacing-1x);
  left: var(--spacing-1x);
  bottom: calc(var(--spacing-1x) * -1);
  right: calc(var(--spacing-1x) * -1);
  z-index: 1;
  background-image: url(assets/halftone-light.png);
  background-size: 120px;
}

.speaker-image > img {
  position: relative;
  width: 120px;
  height: 120px;
  z-index: 3;
  transition: filter 300ms ease-out;
  filter: grayscale(100%);
  transform: translateZ(0); /* fix: chrome mix-blend-mode bug */
}

@supports (mix-blend-mode: exclusion) {
  .speaker-image > img {
    mix-blend-mode: exclusion;
  }
}

.speaker-image:hover > img {
  filter: grayscale(0) contrast(1);
}

.speaker-name {
  font-weight: bold;
  font-size: var(--font-size-md);
}

.speaker-title,
.speaker-url {
  font-size: var(--font-size-sm);
}

.speaker-org {
  display: block;
}

@media (min-width: 600px) {
  .speaker-image {
    width: 160px;
    height: 160px;
  }

  .speaker-image::after {
    background-size: 160px;
  }

  .speaker-image > img {
    width: 160px;
    height: 160px;
  }
}

@media (min-width: 840px) {
  .speaker-image {
    margin-bottom: var(--spacing-3x);
    width: 240px;
    height: 240px;
  }

  .speaker-image::after {
    background-size: 240px;
  }

  .speaker-image > img {
    width: 240px;
    height: 240px;
  }

  .speaker-name {
    margin-bottom: var(--spacing-1x);
    font-size: var(--font-size-lg);
  }

  .speaker-title,
  .speaker-url {
    font-size: var(--font-size-md);
  }
}

@media (min-width: 1280px) {
  .speakers-list {
    max-width: 1152px;
  }

  .speakers-list > * {
    flex: 0 0 calc(100% / 4);
  }
}

/* Sessions */

.sessions-list > * {
  margin-top: var(--spacing-6x);
}

@media (min-width: 600px) {
  .sessions-list {
    max-width: 896px;
    margin-left: auto;
    margin-right: auto;
  }

  .sessions-list > * {
    margin-top: var(--spacing-8x);
  }
}

/*@media (min-width: 1280px) {*/
  /*.sessions-list {*/
    /*max-width: 1152px;*/
  /*}*/
/*}*/

/* Session */

.session {
  scroll-margin-top: var(--spacing-6x);
  padding-left: var(--spacing-2x);
  padding-right: var(--spacing-2x);
  text-align: center;
  font-family: var(--font-family-en);
  color: inherit;
  text-decoration: none;
}

.session-speaker {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: var(--spacing-2x);
}

.session-speaker > * {
  flex: 1 1 50%;
}

.session-speaker .speaker-image > img {
  filter: grayscale(0) contrast(1);
}

.session .speaker-name {
  color: var(--color-secondary);
}

.session-body {
  margin-left: calc(var(--spacing-2x) * -1);
  margin-right: calc(var(--spacing-2x) * -1);
  padding: var(--spacing-2x);
  background-color: var(--color-primary-highlight);
}

.session-title {
  margin-bottom: var(--spacing-1x);
  text-align: left;
  color: var(--color-secondary);
}

.session-title > span {
  display: inline;
  font-weight: bold;
  quotes: "“" "”" "‘" "’";
}

.session-title > span::before {
  display: inline;
  content: open-quote;
}

.session-title > span::after {
  display: inline;
  content: close-quote;
}

.session-summary {
  text-align: left;
  font-size: var(--font-size-sm);
}

@media (min-width: 600px) {
  .session-body {
    margin-left: 0;
    margin-right: 0;
    padding: var(--spacing-2x);
  }

  .session .speaker {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
  }

  .session .speaker-image {
    margin-right: var(--spacing-4x);
    margin-bottom: var(--spacing-2x);
    width: 160px;
    height: 160px;
  }

  .session .speaker-image::after {
    background-size: 160px;
  }

  .session .speaker-image > img {
    width: 160px;
    height: 160px;
  }

  .session .speaker-body {
    flex: 1 1 auto;
  }

  .session .speaker-name {
    margin-bottom: var(--spacing-1x);
    font-size: var(--font-size-lg);
  }

  .session .speaker-title {
    margin-bottom: var(--spacing-1x);
    font-size: var(--font-size-md);
  }

  .session .speaker-job {
    margin-right: 0.5em;
  }

}

@media (min-width: 840px) {
  .session-body {
    padding: var(--spacing-3x);
  }

  .session .speaker-title {
    margin-bottom: var(--spacing-2x);
  }

  .session .speaker-org {
    display: inline-block;
  }

  .session-title {
    margin-bottom: var(--spacing-2x);
    font-size: var(--font-size-lg);
  }

  .session-summary {
    font-size: var(--font-size-md);
  }
}

@media (min-width: 1024px) {
  .session .speaker-name {
    margin-bottom: var(--spacing-1x);
    font-size: var(--font-size-xl);
  }
}


/* Timetable */

.timetable {
  background-image: url(assets/3.jpg);
  background-size: 1024px;
  background-position: center top;
  background-color: var(--color-dark);
  background-repeat: no-repeat;
  color: var(--color-dark-invert);
}

@media (min-width: 1024px) {
  .timetable {
    background-size: 100%;
  }
}


/* Venue */

.venue {
  background-color: var(--color-dark);
  color: var(--color-dark-invert);
}

.venue-content {
  min-height: 560px;
  background-image: url(assets/abematowers.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.venue-body {
  text-align: center;
}

.venue-body > * + * {
  margin-top: 1em;
}

.venue-address {
  display: block;
  color: inherit;
}

@media (min-width: 840px) {
  .venue {
    display: flex;
    flex-direction: row-reverse;
  }

  .venue > * {
    flex: 0 0 50%;
  }

  .venue-header .Heading {
    text-align: left;
  }

  .venue-body {
    text-align: left;
  }

  .venue-content {
    padding-left: var(--spacing-6x);
    background-position: center top;
  }

  .venue-map iframe {
    height: 100%;
  }
}

@media (min-width: 1024px) {
  .venue-content {
    padding-left: var(--spacing-8x);
    min-height:640px;
    background-position: center;
  }
}

/* Closing */
.closing {
  background-image: url(assets/7.jpg);
  background-size: 1024px auto;
  background-position: center top;
  background-color: var(--color-dark);
  background-repeat: no-repeat;
  color: var(--color-dark-invert);
}

@media (min-width: 1024px) {
  .closing {
    background-size: 100%;
  }
}

/* Tickets */

.tickets {
  padding: var(--spacing-6x) var(--spacing-2x);
}

.tickets-lead {
  margin-bottom: var(--spacing-3x);
  text-align: center;
}

.tickets-action .Button {
  padding-top: var(--spacing-1x);
  padding-bottom: var(--spacing-1x);
  width: 100%;
  font-size: var(--font-size-lg);
}

@media (min-width: 600px) {
  .tickets-action .Button {
    margin-left: auto;
    margin-right: auto;
    padding-top: var(--spacing-1x);
    padding-bottom: var(--spacing-1x);
    width: 480px;
    font-size: var(--font-size-xl);
  }
}

@media (min-width: 840px) {
  .tickets {
    padding: var(--spacing-12x) var(--spacing-2x);
  }

  .tickets-action .Button {
    padding-top: var(--spacing-2x);
    padding-bottom: var(--spacing-2x);
  }
}

/* Sponsors */

.sponsors {
  padding-top: var(--spacing-6x);
  padding-bottom: var(--spacing-6x);
}

.sponsors-header {
  margin-bottom: var(--spacing-6x);
}

.sponsors-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sponsors-list > * {
  margin-right: var(--spacing-2x);
  margin-left: var(--spacing-2x);
  margin-bottom: var(--spacing-3x);
}

/* Sponsor */
.sponsor {
  /*background-color: #ffffff;*/
}

.sponsor a {
  display: inline-block;
}

.sponsor img {
  width: auto;
  height: 80px;
}

/* Footer */
.footer {
  padding: var(--spacing-2x);
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: var(--font-family-en);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-links a {
  display: block;
  padding: var(--spacing-1x) var(--spacing-2x);
  color: inherit;
}

.footer-links a:hover {
  text-decoration: none;
}

.footer-copyright {
  margin-top: var(--spacing-6x);
  text-align: center;
}

@media (min-width: 600px) {
  .footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-links > * + *::before {
    content: "/";
  }

  .footer a {
    display: inline-block;
  }

  .footer-copyright {
    margin-top: var(--spacing-3x);
  }
}

@media (min-width: 840px) {
  .footer {
    padding: var(--spacing-4x) var(--spacing-2x);
  }
}
